

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.splash-search{
  position: relative;
  height: 100px;
}

.search-bar-splash input{
  width: 100%!important;
  /* height: 100%!important; */
  border-radius: 0!important;
  /* border-color: blue!important; */
  border: none!important;
  border-bottom: 4px solid blue!important;
}


.ItemContainerDivider{
  margin-top: 1px!important;
  margin-bottom: 0!important;
  margin-left: 0!important;
}

.beer_name{
  font-weight: 700;
  font-size: 25px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px #232323;
  color:#232323;
  letter-spacing: 1px;
}

.brewery_name{
  font-weight: 300;
  text-shadow: 0px 1px, 1px 0px, 1px 1px #232323;
  color:#232323;
  letter-spacing: 1px;
}

.beer_style{
  font-weight: 300;
  font-size: 16px;
  text-shadow: 1px 0 #000000;
}
.ItemContainerWrapper{
  font-family: 'Lato', sans-serif;
  width: 40%;
  min-width: 710px;
  /* max-width: 764px; */
  /* position: relative; */
  margin: auto;
  height: 150px;
  margin-top: 25px;
  background: #f9f9f9;
  border-radius: 25px;
  /*box-shadow: 3px 3px 5px 0px;*/

}

img.ui.small.image{
  position: relative;
  height: 120px;
  width: 115px;
}

.beer_details{
  font-weight: 300;
  position: absolute;
  bottom: 0;

}

.ranking_box{
  position: absolute;
  height: 31px;
  width: 31px;
  background: #3e4cdf;
  z-index: 1;
  right: 120px;
  top: -20px;
  display: table;
  /*box-shadow: -3px 0px 0px 0px #373ecc;*/
}

.beer_grid{
  position: relative;
  height: 130px;
  width: 148px;
  max-width: 148px;
}

span{
  padding-right: 10px;
}


.ranking{
  position: absolute;
  font-size: 17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 700;
  color: white;
  padding-top: 3px;

}

.profile_picture{
  position: absolute;
  right: 50px;
}

.ui.modal>.content>.description{
  padding-left: 0!important;
}

.untapped_rating{
  font-weight: 400;

}

div.nine.wide.column{
  overflow: hidden;
}

div.ui.search{
  margin:auto;
  width: 60%
}

div.results.transition.visible{
  font-size: 16px;
}


.ItemTable{
  height: 85vh;
  /*height:800px;*/
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* margin-top: 5%; */
  /* float: right; */
}

.test{
  float: left;
  width: 250px;

}

.test2{
  display: flex;
}

.storeTitle{
  text-align: center;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.storeTitle > h1{
  font-size: 1.5em;
  padding-left: 10%;
}

.results.transition.visible{
  width: 14em!important;
}

.search .results {
overflow-y: auto;
max-height: 300px;
}

.nyhet{
  position: absolute;
  height: 50px;
  width: 50px;
  /*background: #fc4a2a;*/
  background: #fc4a2a;
  z-index: 1;
  right: 0px;
  top: 90px;
  display: table;
  border-radius: 50%;

}

.nyhet_text{
  position: absolute;
  font-size: 15px;
  left: 3%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 700;
  font-style: italic;
  color: #efe569;
  padding-top: 14px;
  transform: rotate(-20deg);


}

div.sidebar{
    display: block;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed;
    /* float: left; */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f9f9f9; /* Black */
    overflow-x: hidden;  /*Disable horizontal scroll */
    padding-top: 55px;
    box-shadow: 4px 0px 2px 0px #f5f5f5;

}

.rc-slider-track{
  background-color: #fc4a2a!important
}

.rc-slider-handle{
  border-color: #fc4a2a!important;
}

.ui.image.main-logo{
  display: block;
}

@media only screen and (max-width: 1279px) {
    div.sidebar {
        display: none;
    }
    .test{
      display: none;
    }
}

.header-menu{
  width: 80%;
}

@keyframes animate-snirkel {
  25% { transform: skewY(-15deg);}
  50% { transform: skewY(25deg); transform: scale(1, 1.2);}
  100% { transform: skewY(0deg); }
}

@keyframes jello {
  0%{
    opacity: 0;

  }
  11.1% {
    transform: translateY(350px);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg) scale(1.3, 1.3);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  50%{
    opacity:1;
    transform: translateY(0px);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg)
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
  }
  100% {
    transform: none
  }
}


.splash{
  width: 50%;
  margin: auto;
  text-align: center;
  max-height: 500px;
}

.splash-background{
  width: 100%;
  z-index: -1;
}

.snirkel{
  animation: jello 3s ease;
  transform-origin: center;
}

.snirkel-container{
  width:40%;
  margin: auto;
  float: right;
}

.loading-test{
  width: 150px;
  height: 150px;
  background: url('./images/sheet.png') left center;
  animation: play 0.8s steps(5) infinite;
  }

  @keyframes play {
   100% { background-position: -750px; }

}

.splash-title{
  width: 90%;
  color: #3e4cdf;
  margin: auto;
  display: block;
  font-size:
}

.root.div.div.splash.div:nth-child(1).div.svg{
  height: 50px;
  display: none;
}

.splash-text-container{
  text-align: left;
  max-width: 60%;
  float: left;
  position: relative;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  padding-left: 35px;
  max-height:


}

.splash-info-text{
  font-weight: 300;
  font-size: 20px;
  color: #3e4cdf;

}


@media only screen and (max-width: 768px) {
    .splash {
        width:90%;
    }
    .injected-svg.snirkel{
      width: 150px!important;
    }
    .splash-info-text{
      font-size: 16px;
    }
    .injected-svg.splash-title{
      max-height: 50px;
    }
    .splash-text-container{
      padding-left: 5px;
      max-width: 50%;
    }
    body > div.ui.page.modals.dimmer.transition.visible.active > div > div.image.content > div.ui.large.image.profile_picture > img{
      display: none;
    }
    .snirkel-container{
      width: 50%;
    }
}

@media only screen and (max-width: 320px) {
  .injected-svg.splash-title{
    max-height: 50px;
  }
  .snirkel{
    display: none;
  }
  .splash-text-container{
    max-width: 90%;
  }
}

.closeButton{
  position: relative;
    z-index: 99;
    float: right;
}

.about_button{
  background-color: #848ef4!important;
  color: white!important;
}

.about_button:hover{
  background-color: #3e4cdf!important;
}

.report_button{
  /* background-color: #f9f9f9!important; */
}

.report_button:hover{
  background-color: #f2f2f2!important;
}

.mobile-item-container{
  background: #f9f9f9;
  position: relative;
  margin: auto;
  width: 90%;

  font-family: 'Lato', sans-serif;
  height: 110px;
  margin-top: 15px;
}

.mobile-beer-image{
  float: left;
  width: 20%;
  height: 110px;
  overflow: hidden;
}

#funk{
  margin: auto!important;
}

.mobile-beer-info{
  display:block;
  padding-left: 10px;
  float:right;
  width: 80%;
  height: 50px;
  line-height: 1.0;
}

.beer_name_mobile{
  font-weight: 700;
  /* font-size: 4vw; */
  font-size: 1.0em;
  color:#232323;
  letter-spacing: 1px;
  line-height: 0%;
}

.brewery-name-mobile{
  height: 15px;
  font-weight: 400;
  font-size: 0.85em;
  /* font-size: 3vw; */
  margin-bottom: 0;
  overflow:hidden;
  white-space: nowrap; /* Don't forget this one */
text-overflow: ellipsis;
}

.beer-style-mobile{
  font-weight: 300;
  /* font-size: 3vw; */
  font-size: 0.8em;
}

.beer-details-mobile{
  /* font-size: 2.8vw; */
  font-size: 0.9em;
  position: absolute;
  /* width: 200px; */
  bottom: 0;

}

.beer-details-mobile > span{
  padding-right: 5px;
}

.ranking_box_mobile{
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3e4cdf;
  z-index: 1;
  right: 85vw;
  top: -10px;
  display: table;
}

.ranking_mobile{
  position: absolute;
  font-size: 3vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 700;
  color: white;
  padding-top: 3px;
}

.mobile-beer-image > .nyhet {
  position: absolute;
  height: 27px;
  width: 27px;
  /*background: #fc4a2a;*/
  background: #fc4a2a;
  z-index: 1;
  right:68vw;
  top: 0px;
  display: table;
  border-radius: 50%;
}

.mobile-beer-image > .nyhet > .nyhet_text {
  position: absolute;
  font-size: 2.2vw;
  left: 4%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 700;
  font-style: italic;
  color: #efe569;
  padding-top: 8px;
  transform: rotate(-20deg);
}

.sideContainer_mobile{
  display: flex;
  width: 250px
}

.mobile_filter_btn{
  background-color: #848ef4!important;
  color: white!important;
  height: 100%;
  width: 150%;
}

.report_button_mobile{
  float: right;
  position: relative;
  /* width: 200px; */
  padding-top: 30px;
}
