# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
client/node_modules
# testing
/coverage

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.tern-project

# DB
inv.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

config.js
server\config.js
server\cursor.js
server\logs\server_log.txt
server\auth
server/auth

# Within the realms of the `config` node package, machine-specific and secret information and secret information
# should be stored in file with a name containing "local"
config/*local*
